body{
    background-color: rebeccapurple;
}

.PizzaPamphlet0{
border: 2px solid;
padding: 1em;
margin: 1em;
border-radius: 1em;
background-color: aqua;
border-radius: 0px;
flex: 1;



}
img {
margin: auto;
display: block;
}
@media(min-width: 760px) {
.PizzaPamphlet{  
display: flex;   
}
}
.footer{
background-color: blue;
padding: 1em;
margin: 1em;
display: flex;

}
.side{
flex: 1;
text-align: center;
text-align-last: center;
}
.shad{text-align: left;

flex: 1;
}

.PizzaPamphlet1{
border: 2px solid;
padding: 1em;
margin: 1em;
border-radius: 1em;
background-color: green;
border-radius: 0px;
flex: 1;



}

.PizzaPamphlet2{
border: 2px solid;
padding: 1em;
margin: 1em;
border-radius: 1em;
background-color: grey;
border-radius: 0px;
flex: 1;




}
h1{text-align: center;}
.fix_image{
width: 150px;
height: auto;
object-fit: cover;


}
.fix_image2{
width: 250px;
height: auto;
object-fit: cover;

}
.fix_image3{
width: 100px;
height: auto;
object-fit: cover;

}